name: Test Pages Deploy
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Hello world" > index.html
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        id: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: './index.html'
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v2
        with:
          artifact_name: ${{ steps.upload.outputs.artifact_name }}
